

<%= form_for @offer , :html => {:method => :post, :multipart => true} do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %> <br>

    <%= f.label :image %>
    <%= f.fields_for :image do |img| %>
        <%= img.file_field :asset %>
    <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
